/*main css page for styling throughout website*/

/*body and html styling*/
body, html {
	margin: 0;
	padding: 0;
	background: white;
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; 
}

/*various header styling, selected, hover, visited, etc.*/
header {
	padding: 20px 40px;
	background: #C42127;
}

header a {
	color: white;
	text-decoration: none;
}

header a:hover, header a.selected {
	text-decoration: underline;
}

header:hover a.selected {
	text-decoration: none;
}

header a:visited {
	color: white;
}

header a.selected:hover {
	text-decoration: underline !important;

}

header ul {
	/* horizontal slignment */
	display: flex;
	gap: 20px;
		
	/* remove default list styles */
	list-style: none;
	padding-left: 0;
}

/*nav and li styling for header*/
header nav {
	justify-content: space-between;
	align-items: center;
	display: flex;
}

header li {
	color: white;
	font-weight: bold;
	font-size: 16px;
}

/*content and various logo styling*/
#content {
	max-width: 1000px;
	margin: auto;
	padding: 10px 100px;
	background: #FEE1E1;
}

#logo-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}

h1.logo {
	color: #C42127;
}

.logo {
	font-family: Brush Script MT;
	font-size: 45px;
}

/*table styling*/
table {
	margin: 0 auto;
}

/*announcement styling*/
.announcement-card {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background: white;
	box-shadow: 3px 3px 4px #f0f0f0;
	padding: 20px;
	border-radius: 5px;
}

/*more styling*/
#content-header {
	display: flex;
	align-items: center;
}

#content-header img {
	flex-basis: 100%;
	object-fit: cover;
}

#content-header .logo {
	flex-basis: 50%;
}

/*video styling*/
#video {
	display: block;
	margin: auto;
}

/*footer styling*/
footer {
	padding: .5em;
	font-size: 1em;
	text-align: center;
}

/*menu list styling*/
.menu-list {
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}

.menu-item img {
	width: 200px;
	height: 200px;
	margin: 0 80px 0 0;
	object-fit: contain;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/*contact form and input styling*/
form {
	max-width: 500px;
	margin: 0 auto;
}

form input {
	display: block;
	background: none;
	font-size: 24px;
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 26px;
}

/*more form styling*/
form button {
	display: block;
	margin: 0 auto;
	padding: 10px 30px;
}

form .checkbox {
	display: flex;	
}

form .checkbox input {
	width: auto;
	padding: 5px;
	margin-right: 20px;
}

a.full-width {
	text-align: center;
	min-width: 110px;
	box-shadow: 3px 3px hsla(0deg, 0%, 0%, 0.16);
	border-radius: 5px;
	background: white;
	color: #C42127 !important;
	font-size: 20px;
	font-weight: bold;
	border: none;
	appearance: none;
	padding: 10px 0;
}

/*iframe for map styling*/
iframe {
	display: block;
    margin: 20px auto;
    object-fit: cover;
}

/*Button styling from https://www.w3schools.com/css/css3_buttons.asp*/
button {
	border: none;
	background-color: #C42127;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

/*button hover over styling*/
button:hover {
	background-color: black;
	transition: 0.7s;
}